<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Ver
        link(rel="stylesheet", href="./css/index.css")
    body
        header#header
            div.header__menu  =
            div.header__ver  V
            div.header__buscador  buscador
            div.header__chatContainer#header__chatContainer   chat
                div.chatContainer__ventana
                div.chatContainer__chat
            div.header__usuario  yo
        div#contenido 
            #contenido__video
            #contenido__btCajaComentarios
                span(#btCajaComentarios__numComentarios) "10" 
                a(href="#contenido__cajaComentarios") V
            #contenido__cajaComentarios
                .cajaComentarios__comentario
                    a( href="#") yoImagen 
                    a( href="#") Añade tu comentario
            #contenido__listaVideos
                .listaVideos__video
                    .video__titulo tirulo
                    .video__usuario usuario
                    .video__vistas  111.00Mv
                .listaVideos__video
                    .video__titulo tirulo
                    .video__usuario usuario
                    .video__vistas  111.00Mv
                .listaVideos__video
                    .video__titulo tirulo
                    .video__usuario usuario
                    .video__vistas  111.00Mv
                .listaVideos__video
                    .video__titulo tirulo
                    .video__usuario usuario
                    .video__vistas  111.00Mv
                .listaVideos__video
                    .video__titulo tirulo
                    .video__usuario usuario
                    .video__vistas  111.00Mv
                .listaVideos__video
                    .video__titulo tirulo
                    .video__usuario usuario
                    .video__vistas  111.00Mv
                .listaVideos__video
                    .video__titulo tirulo
                    .video__usuario usuario
                    .video__vistas  111.00Mv
                .listaVideos__video
                    .video__titulo tirulo
                    .video__usuario usuario
                    .video__vistas  111.00Mv


        script(src="./js/bundle.js")

